/* src/index.scss */
body, html, #root, .app-container {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.home {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(20, 1fr);
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  box-sizing: border-box;

  .header {
    grid-column: 1 / -1; /* Span all columns */
    grid-row: 1; /* Occupy the first row */
    height: 100%;
    width: 100%;
    background-color: #0056b3;
    box-sizing: border-box;
  }

  .main-container {
    grid-column: 1 / 26;
    grid-row: 2 / -1;
    display: grid;
    height: 100%;
    width: 100%;
    background-color: green;
    box-sizing: border-box;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(19, 1fr);

    .time-date {
      grid-column: 5 / 18;
      grid-row: 3 / 13;
      background-color: black;
      color: white;
      // display: flex;
      flex-direction: column;
      justify-content: space-between;

      .clock {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .hours-minutes {
        font-family: 'Roboto', sans-serif;
        font-size: 150px;
        font-weight: 100 !important;
      }

      .seconds {
        font-size: 50px;
      }

      .date {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .app-content {
      grid-column: 2 / 26;
      grid-row: 2 / 19;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: transparent;
      border: 2px solid black;
      border-radius: 20px;
    }
  }

  .app-icons-container {
    grid-column: 26 / -1;
    grid-row: 3 / 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: yellow;
    height: 100%;
    width: 100%;
    

    .app-icon {
      height: 140px;
      width: 140px;
      border-radius: 35px;
    }

    .app-icon:hover {
      background-color: darkgray;
      cursor: pointer;
    }

    .app-icon.active {
      background-color: darkgray;
      border: 2px solid white;
    }
  }

  .back-button {
    grid-column: 26 / -1;
    grid-row: 2;
    background-color: red;
    width: 100%;
    height: 100%;
  }

  .small-clock {
    grid-column: 11 / 16;
    grid-row: 1 / 3;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: gray;
    z-index: 10;

    justify-content: center;
    align-items: center;


  }

}

  .hidden {
    display: none;
  }
