/* src/index.scss */
body, html, #root, .app-container {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.clock-container {
  grid-column: 5 / 18;
  grid-row: 3 / 13;

  .clock span.hours-minutes {
    font-size: 24px;
  }

  .clock span.seconds {
    font-size: 12px;
  }

  .date {

  }
}


.screen-saver {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(20, 1fr);
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  .time-date-container {
    grid-column: 1 / 21;
    grid-row: 1 / -1;
    height: 100%;
    width: 100%;
    background-color: green;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
  }

  .weather-container {
    grid-column: 21 / -1;
    grid-row: 1 / -1;
    height: 100%;
    width: 100%;
    background-color: blue;
    display: grid;
  }
}

.home {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(20, 1fr);
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  box-sizing: border-box;

  .header {
    grid-column: 1 / -1; /* Span all columns */
    grid-row: 1; /* Occupy the first row */
    height: 100%;
    width: 100%;
    background-color: #0056b3;
    box-sizing: border-box;
  }

  .main-container {
    grid-column: 1 / 27;
    grid-row: 2 / -1;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: green;
    box-sizing: border-box;

    .time-date {
      margin-bottom: 20px;
    }
  }

  .app-icons-container {
    grid-column: 27 / -1;
    grid-row: 2 / -1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    background-color: yellow;
    color: white;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;

    .app-icon:hover {
      background-color: #0056b3;
    }
  }

  .app-content {
    box-sizing: border-box;
    width: 100%;
    /* height: 100%; */
    background-color: transparent;
    border: 1px solid red;
  }
}
